{% extends "base.html" %}
{% block content %}
<div class="container text-white">
    <div class="row mt-3">
        <h1 class="text-center">About us</h1>
    </div>
    <div class="row">
        <p class="text-center">
            EarthKarma aims to improve local communities and better the surrounding environment,<br>
            using the powerful tools of data processing and crowdsourcing. EarthKarma<br>
            is not just any conservation project; it is an ongoing system where ordinary citizens can <br>
            actively and continuously contribute to the awareness and remediation of pollution near them.<br><br>
            Our powerful program takes into account user reports on growing environmental issues near a<br>
            community, then incentivizes volunteers to help clean up these issues. Anyone can submit a<br>
            location for cleanup, and as more requests build up over time, volunteers can get in-depth, <br>
            real-time info about where their efforts are needed, access photos and statements, and hear <br>
            directly from other members of the community.<br><br>
            Volunteers are rewarded with karma points which can be redeemed in our store for Amazon gift<br>
            cards or for exclusive EarthKarma merch.<br>
        </p>
    </div>
</div>
{% endblock %}
