{% extends "base.html" %}
{% block content %}
<div class="container text-white">
    <div class="row mt-3">
        <h1 class="text-center">About us</h1>
    </div>
    <div class="row">
        <p class="text-center">
           TrashHero aims to improve local communities and better the environment around them, using the powerful tools of data processing and crowdsourcing information. TrashHero is not any conservation project; it is an ongoing system where ordinary citizens can actively and continuously contribute to the awareness and remediation of pollution near them. 

Our powerful program takes into account user reports on growing environmental issues near a community, then incentivizes volunteers to help clean up these issues.. Anyone can submit a location for cleanup, and as more requests build up over time, volunteers can get in-depth, real-time info about where their efforts are needed, access photos and statements, and hear directly from other members of the community.

Volunteers are rewarded by karma points which can be redeemed in our store for TrashHero merch made of 100% recycled materials or for Amazon gift cards.
 <br>
        </p>
    </div>
</div>
{% endblock %}
