{% extends "base.html" %}
{% block content %}
<div class="container text-white">
    <div class="row mt-3">
        <h1 class="text-center">About me</h1>
    </div>
    <div class="row">
        <p class="text-center">
            I am a high schooler who likes coding in python.<br>
            I have made this website to compile my main projects.<br>
            I started coding in the summer of 2020 and have made many projects.<br>
            I hope to continue making them and will have links to them on this website.<br>
        </p>
    </div>
</div>
{% endblock %}