{% extends "base.html" %}

{% block content %}

<div class="container bg-dark p-5 mb-3 rounded-2">
	<h1 class="text-white text-center">Contact Manager</h1>
	<p class="text-white text-center">Contacts are private to the logged in acount.</p>
</div>
<div class="container bg-light p-2 rounded-2">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		{{message}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<form class="form" method="POST">
		<div class="mb-3">
			<label for="name" class="form-label"><strong>NEW CONTACT :</strong></label><br>
			Name:<input type="text" class="form-control" id="name" name="new name" required/>
			Number:<input type="text" class="form-control" id="number" name="new number" required/>
		</div>
		<button type="submit" class="btn btn-sm btn-primary mb-3"><strong>SUBMIT</strong></button>
	</form>
</div>
<br>
<div class="container container-fluid">
	<h4 class="text-white text-center mb-4">Contacts:</h4>
	<div class="row row-cols-1">
		{% for contact in contacts %}
		<div class="col">
			<div class="container p-0 rounded-2">
				<div class="card bg-dark mb-3 mx-auto" style="width: 12rem;">
					<div class="card-header text-end">
						<form method="POST">
							<a class="btn btn-sm btn-danger" href="/delete_contact/{{contact['_id']}}">
								<strong>X</strong>
							</a>
						</form>
					</div>
					<div class="card-body">
						<h4 class="card-title text-white text-center">{{contact['name']}}</h4>
						<p class="card-text text-white text-center">{{contact['number']}}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}