{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
<style>
	body {
		font-family: 'Montserrat', sans-serif;
		color: white;
		background-image: url('https://images.unsplash.com/photo-1707343848873-d6a834b5f9b9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		background-size: cover;
		background-position: center;
		margin: 0;
		padding: 0;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="intro-section">
        <h1>HELP A DYING WORLD</h1>
        <p>Join the movement to revitalize our planet, one location at a time.<br>Connect with a community committed to clearing the clutter and make it a cozy home for all of us.</p>
        <button class="btn btn-main">JOIN US</button>
    </div>
</div>
{% endblock %}