{% extends "base.html" %}

{% block head %}
<style>
	body {
		color: white;
		background-image: url('https://images.unsplash.com/photo-1707343848873-d6a834b5f9b9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0;
		padding: 0;
	}
	.intro-section {
		text-align: center;
		padding-top: 11.5%;
	}
	.intro-section h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 1rem;
	}
	.intro-section p {
		font-size: 1.2rem;
		margin-bottom: 2rem;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="intro-section">
		<h1>HELP A DYING WORLD</h1>
		<p>Join the movement to revitalize our planet, one location at a time.<br>
			Connect with a community committed to clearing the clutter and make it a cozy home for all of us.</p>
		<a class="btn btn-main" href="{{url_for('login')}}">JOIN US</a>
	</div>
</div>
{% endblock %}