{% extends 'base.html' %}
{% block content %}
<div class="container-fluid bg-secondary vh-100">
	<div class="container bg-dark p-5 mb-3 rounded-2">
		<h1 class="text-white text-center">Jumbled words!</h1>

	</div>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		{{message}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<div class="d-grid gap-2 col-1 mx-auto">
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add word
		</button>
		<a class="btn btn-primary" href="{{url_for('jumbled_words')}}" role="button">Play</a>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add a word</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form class="form" method="POST">
					<div class="modal-body">
						<input type="text" class="form-control" name="word">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary"><strong>SUBMIT</strong></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}