{% extends 'base.html' %}
{% block content %}
<form style="width: 300px;" class="mx-auto mt-2">
	<div class="input-group mb-3">
		<input type="date" name="date" value="{{earth_date}}" class="form-control w-50">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
	{% if data %}
	<div class="carousel-inner">
		{% for doc in data %}
		{% if loop.index == 1 %}
		<div class="carousel-item active">
		{% else %}
		<div class="carousel-item ">
			{% endif %}
			<img src="{{doc['img_src']}}" class="d-block w-50 mx-auto" alt="...">
		</div>
		{% endfor %}

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	{% else %}
		<h3 class="text-white text-center">No images found</h3>
	{% endif %}
{% endblock %}