{% extends 'base.html' %}

{% block head %}
<style>
	#map {
	  height: 100%;
	  width: 100%;
	  border: 0px;
	  margin-right: 1rem;
	}
	html, body {
	  height: 100%;
	  margin: 0;
	  padding: 0;
	}
	body {
	  display: flex;
	  align-items: center;
	  padding: 3vmax;
	}
</style>
{% endblock %}

{% block content %}
<div id="map" class="mt-4"></div>
<div id="sidebar" class="text-white">
	<h3>Location Details</h3>
	<p id="locationInfo">Locations marked by users are shown on the map.</p>
</div>

<script>
	let map;

	const markedLocations = [
	  {% for report in reports %}
	  {'lat' : {{ report['lat'] }},
	  'lng' : {{ report['lng'] }},
	  'caption' : "{{ report['description'] }}"},
	  {% endfor %}
	]

	function initMap() {
	  if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(
		  function (position) {
			const pos = {
			  lat: position.coords.latitude,
			  lng: position.coords.longitude,
			};

			map = new google.maps.Map(document.getElementById("map"), {
			  center: pos,
			  zoom: 16,
			  styles: [
				{ elementType: "geometry", stylers: [{ color: "#1A2636" }] },
				{
				  elementType: "labels.text.stroke",
				  stylers: [{ color: "#242f3e" }],
				},
				{
				  elementType: "labels.text.fill",
				  stylers: [{ color: "#7bff66" }],
				},
				{
				  featureType: "administrative.locality",
				  elementType: "labels.text.fill",
				  stylers: [{ color: "#99eb9d" }],
				},
				{
				  featureType: "poi",
				  elementType: "labels.text.fill",
				  stylers: [{ color: "#7bff66" }],
				},
				{
				  featureType: "poi.park",
				  elementType: "geometry",
				  stylers: [{ color: "#263c3f" }],
				},
				{
				  featureType: "poi.park",
				  elementType: "labels.text.fill",
				  stylers: [{ color: "#a2fdb7" }],
				},
				{
				  featureType: "road",
				  elementType: "geometry",
				  stylers: [{ color: "#535f4d" }],
				},
				{
				  featureType: "road",
				  elementType: "geometry.stroke",
				  stylers: [{ color: "#212a37" }],
				},
				{
				  featureType: "road",
				  elementType: "labels.text.fill",
				  stylers: [{ color: "#9ca5b3" }],
				},
				{
				  featureType: "road.highway",
				  elementType: "geometry",
				  stylers: [{ color: "#688f53" }],
				},
				{
				  featureType: "road.highway",
				  elementType: "geometry.stroke",
				  stylers: [{ color: "#1f2835" }],
				},
				{
				  featureType: "road.highway",
				  elementType: "labels.text.fill",
				  stylers: [{ color: "#91ff5f" }],
				},
				{
				  featureType: "transit",
				  elementType: "geometry",
				  stylers: [{ color: "#2f3948" }],
				},
				{
				  featureType: "transit.station",
				  elementType: "labels.text.fill",
				  stylers: [{ color: "#5ce58c" }],
				},
				{
				  featureType: "water",
				  elementType: "geometry",
				  stylers: [{ color: "#07080C" }],
				},
				{
				  featureType: "water",
				  elementType: "labels.text.fill",
				  stylers: [{ color: "#515c6d" }],
				},
				{
				  featureType: "water",
				  elementType: "labels.text.stroke",
				  stylers: [{ color: "#07080C" }],
				},
			  ],
			});

			const infowindow = new google.maps.InfoWindow();

			markedLocations.forEach((location) => {
			  const marker = new google.maps.Marker({
				position: { lat: location.lat, lng: location.lng },
				map: map,
				title: location.caption,
				icon: "{{url_for('static',filename='pin.png')}}",
			  });

			  marker.addListener("click", () => {
				infowindow.setContent(location.caption);
				infowindow.open(map, marker);
			  });
			});
		  },
		  function () {
			handleLocationError(true, map.getCenter());
		  }
		);
	  } else {
		handleLocationError(false, map.getCenter());
	  }
	}

	function handleLocationError(browserHasGeolocation, pos) {
	  console.error(
		browserHasGeolocation
		  ? "Error: The Geolocation service failed."
		  : "Error: Your browser doesn't support geolocation."
	  );
	}

	window.initMap = initMap;
</script>

<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuys5rRtnQNo3_YUCqb6g6vOhigb1J53s&callback=initMap"></script>
{% endblock %}
