{% extends 'base.html' %}
{% block content %}
<div class="row py-4 text-white">
	<h1 class="text-center">Diez maneras mantener tu salud!</h1>
</div>
<div class="container justify-content-center">
	{% for sentence,image in sentences %}
	<div class="card mb-3 mx-auto" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{{image}}" class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{sentence}}</h5>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}